ion-grid{
  text-align-last: center;

}

ion-content{


.nara{
  --background: rgb(255, 255, 255); //cor dos botões\
}

.tobis{
  --background: rgb(230, 230, 230); //cor dos botões\
}


ion-card{
  ion-item{
    margin-left: 2%;
    margin-bottom: 3%;
    margin-right: 5%;
  }
}
}





ion-button{

  height: 7vh;
  width: 13vw;



  margin-left: 0%;

   --background: #ffffff; //cor do fundo dos botões

   ion-icon {
     text-align: center;
     margin-bottom: 0;
     font-size: 2rem;
     color: #000000;

   }
   h1{
     text-align: center;
     margin-bottom: 50%;
     color: #000000; //cor da letra dos botões

   }




   --border-radius: 100;
   --border-width: 10px;

 }




