<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



<ion-card>
  <ion-item>
    <ion-label position="stacked">Operação</ion-label>
    <ion-input placeholder="Digite aqui"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="">Resultado:</ion-label>
  </ion-item>




</ion-card>

<div >
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button class="tobis" >
            <h1>%</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="tobis">
            <h1>√</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="tobis">
            <h1>X²</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="tobis">
            <h1>⅟x</h1>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button class="tobis">
            <h1>CE</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="tobis">
            <h1>C</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="tobis">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="tobis">
            <h1>÷</h1>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button class="nara">
            <h1 >7</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button  class="nara">
            <h1 >8</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button  class="nara">
            <h1 >9</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="tobis">
            <h1>×</h1>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button class="nara">
            <h1>4</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="nara">
            <h1>5</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="nara">
            <h1>6</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="tobis">
            <h1>-</h1>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button class="nara">
            <h1>1</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="nara">
            <h1>2</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="nara">
            <h1>3</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="tobis">
            <h1>+</h1>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>
      <ion-col>

          <ion-button class="tobis">
            <h1>±</h1>
          </ion-button>

      </ion-col>

      <ion-col>
          <ion-button class="nara">
            <h1>0</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="tobis">
            <h1>,</h1>
          </ion-button>
      </ion-col>

      <ion-col>
          <ion-button class="tobis">
            <h1>=</h1>
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>
