ion-grid{
  text-align-last: center;

}

ion-button{

  width: 67px;

  align-items: center;

  text-align: center;

  margin-bottom: 0;

  ion-icon {
    text-align: center;
    margin-bottom: 0;
    font-size: 2rem;
  }
  h1{
    text-align: center;
    margin-bottom: 50%;
  }

}

ion-card{
  ion-item{
    margin-bottom: 3%;
    margin-right: 5%;
  }
}


.maior{
  width: 170px;

}

