ion-grid{
  text-align-last: center;

}

ion-button{

  width: 67px;

  h1{
    text-align-last: center;

  }

}

ion-card{
  ion-item{
    margin-bottom: 3%;
    margin-right: 5%;
  }
}


.maior{
  width: 170px;

}

